<footer>
<p>
  This site is maintained by <a href="https://twitter.com/mattdelias">Matthew Elias, Esq.</a>. Find the repo on <a href="https://github.com/mdelias/heir.cash">GitHub</a>.
</p>
<p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
</footer>
