<header>
  <ul class="nav">
    <li>
      <a href="/">home<small>where the heirs are</small></a>
    </li>
    <li>
      <a href="/store">store<small>safekeeping for BTC</small></a>
    </li>
  </ul>
  <h1>{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
